---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio minimalista">
	<main>
		<h1>Portafolio minimalista</h1>
		<p>Este es un portafolio minimalista construido con Astro.</p>
	</main>
</Layout>
